{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header><h1>{{ config.SITE_TITLE }}</h1></header>
<div class="content">
<ul class="link-list">
    {% for link in links %}
    <li class="link" id="link-{{ link.id }}">
        <div class="link-meta">
            <span class="link-title"><a href="{{ link.url }}">{{ link.title }}</a></span>
            <span class="link-siteurl">{{ link.url | netloc }}</span>
        </div>
        {% if link.comment %}
        <div class="link-comment">
            <p>{{ link.comment }}</p>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
