{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header><h1>{{ config.SITE_TITLE }}</h1></header>
<div class="content">
<ul>
    {% for link in links %}
    <li class="link" id="link-{{ link.id }}">
        <div class="link-meta">
            <div class="link-title"><a href="{{ link.url }}">{{ link.title }}</a></div>
            <div class="link-siteurl">{{ link.url }}</div>
        </div>
        <div class="link-comment">
            <p>{{ link.comment }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
